.dart_tool/
.packages
.pub-cache/
.flutter-plugins
.flutter-plugins-dependencies
build/
*.iml
.idea/
android/local.properties
android/key.properties
android/.gradle/
android/captures/
*.jks
*.keystore
*.log

/ios/Flutter/
/ios/Runner/GeneratedPluginRegistrant.*

android/.kotlin/
